.header {
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
    height: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    
    justify-content: center;
    gap: 60px;
    background-color: rgb(213, 251, 204);
    margin-top: 0;
}

.link {
    color: rgb(114, 111, 111);
}

.active {
    color: rgb(191, 55, 233);
}

.active,
.link {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
}